doctype html
html
    head
        title 
           | About-GarageOnRoad 
        style
            include style.css
            include styleabout.css
            include phoneabout.css
    body
    section.new
        nav#navbar
            ul
                div.logo
                    img(src="static/logo.jpg")
                li #[a(href='/') Home]
                li #[a(href='/about') About Us]
                li #[a(href='/contact') Contact Us]

            div.about
                    h2 About Us
                    div.about1
                    
                        div.about1-content
                            p GarageOnRoads is a premium service provider for vehicles, starting with Roadside Assistance to On Demand Car Services.We look to provide the customers with the best in class services. The company was formulated in the mid of 2016, however, it started off with its operations in January 2017. The company has since then been providing as many as 1078 services, which makes them offer one of the widest variety of services in its department in the nation. 
                            p While it does definitely show that the company has a huge base so that it can ponder over so large a sector of services, at the same time, it also reflects that a great administration is needed to check out the smooth running of the company and that is exactly where comes the experience of an experienced team. The team that the company posses with itself has the eminent people of their particular field, which include the IIT, IIM & MIT alumnus who have more than a decade's experience in their particular fields. The strong team that the company has is another reason that the company seems to flourish as one of the fastest growing startups in the nation. 
                            p If you are one of the automobile users and keen to get us on board with the services, please feel free to download our app, which is currently available for the Android version, and will soon be on for the IOS as well. 
            div.about
                    div.about1
                        div.about1-img
                            img(src="static/about.png")
            
        div.help
                |For Immediate Roadside Assistance Call @ +91-9971800751
        footer#footer
            | Garage On Road     