doctype html
html
    head
        title 
           | Roadside Assistance & Breakdown Mechanic at Zero Subscription
        style
            include style.css
            include phone.css
        body
            section.new
                nav#navbar
                    ul
                        div.logo
                            img(src="static/logo.jpg")
                        li #[a(href='/') Home]
                        li #[a(href='/about') About Us]
                        li #[a(href='/contact') Contact Us]
            section#intro  
                div.small|India's #1 Garage On Demand Service
                div.large|Garage on Road
                div.smallest|Trusted & Verified Mechanics Only
            section#info
                div.carstuck
                    img(src="static/carstuck.png")
                    h2.matter|What to Do if Your Car Breaks Down on the Road
            section#more
                p|If your vehicle is having a problem while you’re driving, try to get to the right-hand shoulder of the road as soon as possible, especially if you’re on a highway. As you pull your vehicle off the road, keep the following safety procedures in mind:
                div.p1|1. Try to coast along the shoulder until you’re away from any curves in the road behind you. This placement pays off when you’re ready to get back onto the road because you can spot oncoming traffic before it’s on your tail.
                div.p1|2.If the engine dies right on the highway and you can’t get off the road, don’t get out of the car! Sitting in a dead vehicle with traffic piling up behind you is unnerving, but attempting to cross a high-speed freeway on foot is suicide.
                div.tip|TIP----If it’s after dark, put the interior light on so that you’re more visible. If the engine is operable, keep it running so that you don’t run the battery down.
                p|Most heavily traveled highways are also heavily patrolled, and a nice highway patrol officer will be along before you know it.  Whether you’ve managed to park at the side of the road or you’re stuck in a traffic lane, remember these additional safety precautions:
                div.p1|1.Roll down the window on the driver’s side, hang out a white cloth or piece of paper, and roll the window back up to secure it in place: The cloth or paper alerts drivers that your vehicle is in trouble and that they should proceed around you.
                div.p1|2.If you know that you’re going to need roadside assistance, use your cellphone to call your auto club or the highway patrol: If you have no phone, and you can see an emergency call box only a few feet away, use the call box to call for help, get right back in the car, and lock the doors. If no call box is nearby, you’re probably better off just hanging the white cloth or piece of paper out the window and waiting for the highway patrol.
                div.p1|3.To avoid being hit by a passing vehicle, never work on your vehicle from the side that’s exposed to traffic. If you can, drive farther off the road to a safe, well-traveled place, and try to reach into the trouble area from the front or the side that’s away from traffic.
                div.p1|4.If it’s daylight, put on your emergency blinkers to alert oncoming traffic to the fact that your vehicle isn’t moving. This is not a good idea at night because motorists coming up behind you may think that your vehicle is still rolling along the highway and run right into the rear end of your car.
                div.p1|5.If it’s nighttime and you’re not stuck in traffic, quickly place warning lights or reflective markers about six feet behind the vehicle to alert traffic, and then get back in the car. If you don’t have lights or markers, either turn on the interior lights manually or leave the car door that’s away from traffic open so that the interior lights stay on.
                div.p1|6.If you get a flat tire, do not attempt to change it unless you can get to the side of the road and the tire is on the side of the vehicle that’s safely away from traffic.
                div.tip WARNING----Because driving on a flat tire for any longer than it takes to park safely can destroy the tire, you need to replace it close to where it went flat. This is one reason why subscribing to roadside service is a good idea!

                div.mud|How to Drive Through Mud
                div.mud1|i.   Check the depth of the mud with a stick.
                div.mud1|ii.  Avoid the mud if you see tire tracks going in but not coming out.
                div.mud1|iii.  Speeding through mud can cause you to lose control. Too slow and you might get stuck. Try to find the right balance and move your steering wheel slightly from right to left to gain more traction.
                div.mud1|iv.  Avoid driving in the same tracks left by someone else. This mud is softer and a lot easier to get stuck in. Be different—blaze a new path.
                div.mud1|v.   Keep your tires properly inflated and in good shape.
                div.mud1|vi.  Consider carrying a shovel, winch, car jack, gravel, sand, kitty litter, and/or planks in your vehicle in case you do get stuck in the snow, sand, or mud.
                div.mud1|vii.  Learn how to winterize your vehicle and which items you should always have in your vehicle.
                div.mud|Recommended Items to Get Your Car Unstuck
                div.mud1|Shovel
                div.mud1|Wood Planks, Carpet, and Cardboard
                div.mud1|Wheel Tracks (for example, Trac-Grabber — a plastic self-rescue device that gets strapped to the drive wheels)
                div.mud1|Car Jack
                div.mud1|Tow Strap (can be used by another vehicle to help free your vehicle)
                div.mud1|Winch (if attaching to another vehicle, always hook it to the frame)
                div.mud1|Snow Chains (put them on your tires before you drive around in the snow)
                
        footer#footer
            |Garage On Road
        
    